*,
*::before,
*::after {
    box-sizing: border-box;
}

.text-field__input {
    display: block;
    width: 276px;
    height: calc(36px + 2px);
    padding: 7px 12px;
    font-family: inherit;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #ffffff;
    background-clip: padding-box;
    border: 1px solid #bdbdbd;
    border-radius: 4px;
    margin-top: 10px;
    transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.text-field__input::placeholder {
    color: #212529;
    opacity: 0.4;
}

.text-field__input:focus {
    color: #212529;
    background: #ffffff;
    border-color: #ff506f;
    outline: 0;
    box-shadow: 0 0 0 2px #ff506f;
}

.text-field__label {
    color: #ffffff;
    font-size: 20px;
    width: 50.67px;
    display: block;
    margin: 0 auto;
}

.main {
    max-width: 306px;
    max-height: 300px;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    padding: 15px;
}

.imageSign img {
    width: 60px;
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
}

.help {
    width: 276px;
    margin-top: 10px;
}

.help-a {
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    transition: color 0.5s ease 0s;
}

.help-a:hover {
    color: #ff506f;
}

.button {
    width: 276px;
    background: #1e2025;
    padding-top: 10px;
    padding-bottom: 10px;
}
