body, html {
    background: #1e2025;
    font: bold 20px 'Acrom', sans-serif;
}

body::-webkit-scrollbar {
    width: 7px;
}

body::-webkit-scrollbar-track {
    background: #ffffff;
}

body::-webkit-scrollbar-thumb {
    background: #495eff;
    /* background: -webkit-linear-gradient(180deg, rgb(152, 207, 195), rgb(86, 181, 184));
    background: -moz-linear-gradient(180deg, rgb(152, 207, 195), rgb(86, 181, 184));
    background: linear-gradient(180deg, rgb(152, 207, 195), rgb(86, 181, 184)); */
}

.button-head:hover {
    color:#488bca;
}

.about-site {
    background: #1e2025;
    padding-bottom: 60px;
    padding-top: 90px;
}

.text-about {
    color: white;
    padding-top: 40px;
    padding-left: 650px;
}

.brandColor {
    color: #495eff;
}

.brandImage img {
    width: 80px;
}

.brandFooter {
    background: #1e2025;
    margin: 0;
}

.yt {
    padding: 900px;
    background: #1e2025;
    color: #1e2025;
}

.box {
    position: fixed;
    top: 0;
    left: 0px;
    width: 100%;
    background: #488bca;
}

/* .hat {
    position: fixed;
    text-align: center;
    display: flex;
    bottom: 50%;
    top: 10px;
    left: center;
    width: 100%;
    height: 80px;
}

.hat div {
    margin: 0;
    padding: 0;
}
.hat div {
    margin: 0;
    padding: 0;
}

@media (max-width: 700px) {
    .hat {
        display: flex;
    }
}

.img-cheat {
    width: 80px;
}

.text-about {
    color: #ffffff;
    display: none;
}

.text-about span {
    color: #495eff;
}

.conteiner-fluid {
    display: flex;
    text-align: center;
}

.navbar-brand img {
    width: 80px;
} */