body, html {
    background: #ffffff;
    font: bold 20px 'Acrom', sans-serif;
}

body::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

body::-webkit-scrollbar-track {
    background: #ffffff;
}

body::-webkit-scrollbar-thumb {
    background: #495eff;
}

.wrapper {
    background: #ffffff;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.preasent-cheat {
    background: #ffffff;
    padding: 0px 20px 20px 20px;
}

.frame {
    background: #e6e6e6;
    border-radius: 10px;
    width: 1265px;
}

.about-site {
    background: #ffffff;
    padding: 90px 20px 50px 20px;
}

.about-cheat {
    color: black;
    padding: 10px 10px 10px 10px;
}

.button-head:hover {
    color:#488bca;
}

.text-about {
    color: rgb(0, 0, 0);
    padding-top: 20px;
}

.brandColor {
    color: #006fff;
}

.brandImage img {
    width: 80px;
}

.brandFooter {
    background: #ffffff;
    margin-bottom: 0;
}

.yt {
    background: #ffffff;
    padding: 215px;
    color: black;
}

.box {
    background: #488bca;
    background-color: #e6e6e6;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
}

.about-forum {
    background: #ffffff;
    padding: 90px 20px 50px 20px;
}

.about-market {
    background: #ffffff;
    padding: 90px 20px 50px 20px;
}

.about-team {
    background: #ffffff;
    padding: 120px 20px 50px 20px;
}

.frame-team {
    padding-top: 40px;
}

.te {
    align-content: center;
    justify-content: center;
    flex-wrap: nowrap;
}

.avatar-team img {
    margin-top: 20px;
    width: 100px;
    height: 100px;
    border-radius: 20px;
}

/* .ter {
    font-family: 'Rubik One', sans-serif;
    font-size: 20px;
    background: #2E2F45;
    display: table;
    color: #9185ff;
    border-radius: 5px;
    mix-blend-mode: multiply;
    padding: 5px 10px;
} */

.ter {
    /* font-size: 2em;
    padding: 0.3em 0.6em;
    border-image: linear-gradient(135deg, #12BCB0 20%, #FABE0E 70%); */
    background: linear-gradient(135deg, #cc00ff 20%, #0400ff 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline;
    border: 3px solid transparent;
    border-image-slice: 1;
}

.frame-team img {
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
}

.frame-team-first img {
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
}

.imageSing img {
    width: 120px;
    display: block;
    margin: 0 auto;
}

.user-agreement {
    background: #ffffff;
    padding: 50px 0px 50px 0px;
}

.frame-rules {
    background: #e6e6e6;
    width: 1285px;
    padding-top: 20px;
    padding-bottom: 15px;
    border-radius: 10px;
    line-height: 1.5;
}

.rules {
    color: black;
    padding-left: 10px;
}

.user-agreement hr {
	background-color: black;
	height: 7px;
}

.sign-btn label {
    margin-left: 74px;
}

.sign-btn button {
    margin-left: 74px;
}

.sign-btn div {
    margin-left: 44px;
}

.imageSingIn {
    height: 100px;
}

/* .io {
    margin: 43px;
} */

/* ? PC ? */
@media (max-width: 1399.98px) {
    .frame {
        width: 1085px;
    }
    .frame-rules {
        width: auto;
    }
}

/* ? PC MIN ? */
@media (max-width: 1199.98px) {
    .text-about {
        padding-top: 90px;
        font-size: 16px;
    }
    .frame-team-first {
        padding-top: 45px;
        font-size: 16px;
    }
    .box {
        height: auto;
    }
    .frame {
        width: 900px;
    }
    .frame-rules {
        width: auto;
    }
}

/* ? TABLET ? */
@media (max-width: 991.98px) {
    .text-about {
        padding-top: 115px;
    }
    .frame-team-first {
        padding-top: 85px;
        font-size: 16px;
    }
    .box {
        height: auto;
    }
    .search-cl input {
        margin-bottom: 10px;
    }
    .brandImage img {
        display: none;
    }
    .frame {
        width: 677px;
    }
    .rules {
        width: auto;
        padding: 10px 10px 10px 10px;
    }
    .user-agreement {
        font-size: 12px;
    }
    .user-agreement h5 {
        font-size: 13px;
    }
    .user-agreement hr {
        height: 5px;
    }
    .sign-btn label {
        margin-left: 60px;
    }
    .sign-btn button {
        margin-left: 60px;
    }
    .sign-btn div {
        margin-left: 30px;
    }
    .io {
        margin: 0px;
    }
    .io button {
        margin-bottom: 0px;
    }
}

/* ? MOBILE ? */
@media (max-width: 767.98px) {
    .text-about {
        padding-top: 35px;
    }
    .frame-team-first {
        padding: 0;
        font-size: 14px;
    }
    .about-team h5 {
        font-size: 16px;
    }
    .about-team img {
        width: 70px;
        height: 70px;
    }
    .text-about h4 {
        font-size: 20px;
    }
    .about-cheat {
        font-size: 16px;
        text-align: center;
    }
    .about-cheat h5 {
        font-size: 20px;
    }
    .brandImage img {
        display: none;
    }
    .search-cl input {
        display: none;
    }
    .text-end button {
        font-size: 12px;
    }
    .text-end input {
        font-size: 12px;
    }
    .box {
        font-size: 14px;
        height: auto;
    }
    .tyu ul {
        margin: 0;
    }
    .yt {
        padding: 0;
    }
    .brandFooter footer {
        font-size: 16px;
    }
    .frame {
        width: auto;
    }
    .frame-rules {
        width: auto;
    }
    .imageSing img {
        margin-top: 80px;
    }
    .btn {
        margin-bottom: 30px;
    }
    .sign-btn label {
        margin: auto;
    }
    .sign-btn button {
        margin: auto;
    }
    .sign-btn div {
        margin-left: auto;
    }
    .io {
        margin: 0px;
    }
    .io button {
        margin-bottom: 0px;
    }
}

/* ? HIGH SMALL DISPLAY ? */
@media (max-width: 363.98px) {
    .text-about {
        padding-top: 0px;
    }
    .text-about h4 {
        font-size: 18px;
    }
    .about-cheat {
        font-size: 14px;
    }
    .about-cheat h5 {
        font-size: 18px;
    }
    .about-team {
        padding: 90px 20px 50px 20px;
    }
    .brandFooter footer {
        font-size: 16px;
    }
    .tyu {
        font-size: 12px;
        line-height: 0.5;
    }
    .box {
        height: auto;
    }
    .io button {
        padding: 5px 10px 5px 10px;
        height: auto;
    }
    .imageSing img {
        padding-top: 40px;
    }
    .rew {
        padding: 0;
    }
}
@media (max-width: 331.98px) {
    .text-about {
        padding-top: 20px;
    }
    .text-about h4 {
        font-size: 18px;
    }
    .about-cheat {
        font-size: 14px;
    }
    .about-cheat h5 {
        font-size: 18px;
    }
    .about-team {
        padding: 110px 20px 50px 20px;
    }
    .brandFooter footer {
        font-size: 16px;
    }
    .tyu {
        font-size: 12px;
        line-height: 0.5;
    }
    .box {
        height: auto;
    }
    .io button {
        padding: 5px 10px 5px 10px;
    }
    .rew {
        padding: 0;
    }
    .imageSing img {
        padding-top: 60px;
    }
}