body, html {
    background: #1e2025;
    font: bold 20px 'Acrom', sans-serif;
}

body::-webkit-scrollbar {
    width: 7px;
}

body::-webkit-scrollbar-track {
    background: #ffffff;
}

body::-webkit-scrollbar-thumb {
    background: #495eff;
}

.present-cheat {
    padding-left: 647px;
    background-color: #1e2025;
    /* box-sizing: border-box; */
}

.frame {
    width: 1150px;
    height: 430px;
    background: #101011;
    border-radius: 10px;
}

.about-cheat {
    padding-top: 10px;
    padding-left: 10px;
    color: #ffffff;
}

.button-head:hover {
    color:#488bca;
}

.about-site {
    background: #1e2025;
    padding-bottom: 60px;
    padding-top: 90px;
}

.text-about {
    color: white;
    padding-top: 40px;
    padding-left: 650px;
}

.brandColor {
    color: #495eff;
}

.brandImage img {
    width: 80px;
}

.brandFooter {
    background: #1e2025;
    margin: 0;
}

.yt {
    padding: 190px;
    background: #1e2025;
    color: #1e2025;
}

.box {
    position: fixed;
    top: 0;
    left: 0px;
    width: 100%;
    background: #488bca;
}
