.preasent-cheat-1 {
    padding-left: 647px;
    background-color: #1e2025;
}

.frame-1 {
    width: 300px;
    height: 170px;
    background: #101011;
    border-radius: 10px;
}

.about-cheat-1 {
    padding-top: 10px;
    padding-left: 10px;
    color: #ffffff;
    text-align: left;
}

