.avatar-staff img {
    margin-top: 20px;
    width: 120px;
    height: 120px;
    border-radius: 90px;
}

h4 {
    font-size: 18px;
}

.frame-staff {
    padding-top: 30px;
}

.castom-role {
    color: #ff506f;
    margin: 0;
}

.staff-class {
    margin-bottom: 40px;
}

.frame {
    padding: 20px 20px 20px 20px;
}